<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hebeu.keyan.dao.customMapper.ManageMoneyMapper">

    <!--查询指定“工号”的《科研管理费申请》集合-->
    <select id="selectApplyByWorkNum" resultType="com.hebeu.keyan.po.customPO.ManageMoneyApplyCustom">
        SELECT * FROM view_manage_money_apply v WHERE v.work_num= #{workNum}
    <!--#       4表示已发放-&#45;&#45;个人查询用-->
    <!--<if test="moneySearchVO.auditType == 1">-->

    <!--</if>-->
    <!--#       5表示未发放-&#45;&#45;个人查询用-->
    <!--<if test="moneySearchVO.auditType == 1">-->

    <!--</if>-->
    </select>

    <!--查询指定“申请编号”的《科研管理费申请》详情-->
    <select id="selectApplyInfoByApplyId" resultType="com.hebeu.keyan.po.customPO.ManageMoneyApplyCustom">
        SELECT * FROM view_manage_money_apply v WHERE v.apply_id = #{applyId}
    </select>

    <!--查询manage_money_total中，所有的year-->
    <select id="selectAllYear" resultType="com.hebeu.keyan.po.ManageMoneyTotal">
        SELECT DISTINCT manage_money_total.year FROM manage_money_total
    </select>

    <!--查询指定“姓名（工号）”的《科研管理费申请》集合-->
    <select id="selectApplyByWorkNameAndNum" resultType="com.hebeu.keyan.po.customPO.ManageMoneyApplyCustom">
        SELECT * FROM view_manage_money_apply v WHERE v.audit_person_id1= #{workNameAndNum} OR v.audit_person_id2= #{workNameAndNum} OR v.audit_person_id3= #{workNameAndNum}
    </select>

    <!--查询满足moneySearchVO对象条件的管理费申请集合-->
    <select id="selectApplyByMoneySearchVO" resultType="com.hebeu.keyan.po.customPO.ManageMoneyApplyCustom">
        SELECT * FROM view_manage_money_apply v
        <if test="moneySearchVO.auditType == 1">
            WHERE
            (v.audit_person_id1 = #{moneySearchVO.workNameAndNum} AND v.audit_status_id = 1) OR
            (v.audit_person_id2 = #{moneySearchVO.workNameAndNum} AND v.audit_status_id = 2) OR
            (v.audit_person_id3 = #{moneySearchVO.workNameAndNum} AND v.audit_status_id = 4)
        </if>
        <if test="moneySearchVO.auditType == 2">
            WHERE
            (v.audit_person_id1 = #{moneySearchVO.workNameAndNum} AND v.audit_status_id > 1) OR
            (v.audit_person_id2 = #{moneySearchVO.workNameAndNum} AND v.audit_status_id > 3) OR
            (v.audit_person_id3 = #{moneySearchVO.workNameAndNum} AND v.audit_status_id > 5)
        </if>
        <if test="moneySearchVO.auditType == 3">
            WHERE
            (v.audit_person_id1 = #{moneySearchVO.workNameAndNum} AND v.audit_status_id IN (1,2,3,4,5,6,7,8)) OR
            (v.audit_person_id2 = #{moneySearchVO.workNameAndNum} AND v.audit_status_id IN (2,4,5,6,7,8)) OR
            (v.audit_person_id3 = #{moneySearchVO.workNameAndNum} AND v.audit_status_id IN (4,6,7,8))
        </if>
    </select>

</mapper>