<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hebeu.keyan.dao.BudgetPostApplyMapper" >
  <resultMap id="BaseResultMap" type="com.hebeu.keyan.po.BudgetPostApply" >
    <id column="apply_id" property="applyId" jdbcType="VARCHAR" />
    <result column="work_num" property="workNum" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="apply_money" property="applyMoney" jdbcType="DOUBLE" />
    <result column="audit_status_id" property="auditStatusId" jdbcType="INTEGER" />
    <result column="audit_person_id1" property="auditPersonId1" jdbcType="VARCHAR" />
    <result column="audit_poinion1" property="auditPoinion1" jdbcType="VARCHAR" />
    <result column="audit_person_id2" property="auditPersonId2" jdbcType="VARCHAR" />
    <result column="audit_poinion2" property="auditPoinion2" jdbcType="VARCHAR" />
    <result column="audit_person_id3" property="auditPersonId3" jdbcType="VARCHAR" />
    <result column="audit_poinion3" property="auditPoinion3" jdbcType="VARCHAR" />
    <result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    apply_id, work_num, project_id, apply_money, audit_status_id, audit_person_id1, audit_poinion1, 
    audit_person_id2, audit_poinion2, audit_person_id3, audit_poinion3, last_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hebeu.keyan.po.BudgetPostApplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from budget_post_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from budget_post_apply
    where apply_id = #{applyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from budget_post_apply
    where apply_id = #{applyId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hebeu.keyan.po.BudgetPostApplyExample" >
    delete from budget_post_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hebeu.keyan.po.BudgetPostApply" >
    insert into budget_post_apply (apply_id, work_num, project_id, 
      apply_money, audit_status_id, audit_person_id1, 
      audit_poinion1, audit_person_id2, audit_poinion2, 
      audit_person_id3, audit_poinion3, last_time
      )
    values (#{applyId,jdbcType=VARCHAR}, #{workNum,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, 
      #{applyMoney,jdbcType=DOUBLE}, #{auditStatusId,jdbcType=INTEGER}, #{auditPersonId1,jdbcType=VARCHAR}, 
      #{auditPoinion1,jdbcType=VARCHAR}, #{auditPersonId2,jdbcType=VARCHAR}, #{auditPoinion2,jdbcType=VARCHAR}, 
      #{auditPersonId3,jdbcType=VARCHAR}, #{auditPoinion3,jdbcType=VARCHAR}, #{lastTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hebeu.keyan.po.BudgetPostApply" >
    insert into budget_post_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="workNum != null" >
        work_num,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="applyMoney != null" >
        apply_money,
      </if>
      <if test="auditStatusId != null" >
        audit_status_id,
      </if>
      <if test="auditPersonId1 != null" >
        audit_person_id1,
      </if>
      <if test="auditPoinion1 != null" >
        audit_poinion1,
      </if>
      <if test="auditPersonId2 != null" >
        audit_person_id2,
      </if>
      <if test="auditPoinion2 != null" >
        audit_poinion2,
      </if>
      <if test="auditPersonId3 != null" >
        audit_person_id3,
      </if>
      <if test="auditPoinion3 != null" >
        audit_poinion3,
      </if>
      <if test="lastTime != null" >
        last_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="workNum != null" >
        #{workNum,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="applyMoney != null" >
        #{applyMoney,jdbcType=DOUBLE},
      </if>
      <if test="auditStatusId != null" >
        #{auditStatusId,jdbcType=INTEGER},
      </if>
      <if test="auditPersonId1 != null" >
        #{auditPersonId1,jdbcType=VARCHAR},
      </if>
      <if test="auditPoinion1 != null" >
        #{auditPoinion1,jdbcType=VARCHAR},
      </if>
      <if test="auditPersonId2 != null" >
        #{auditPersonId2,jdbcType=VARCHAR},
      </if>
      <if test="auditPoinion2 != null" >
        #{auditPoinion2,jdbcType=VARCHAR},
      </if>
      <if test="auditPersonId3 != null" >
        #{auditPersonId3,jdbcType=VARCHAR},
      </if>
      <if test="auditPoinion3 != null" >
        #{auditPoinion3,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hebeu.keyan.po.BudgetPostApplyExample" resultType="java.lang.Integer" >
    select count(*) from budget_post_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update budget_post_apply
    <set >
      <if test="record.applyId != null" >
        apply_id = #{record.applyId,jdbcType=VARCHAR},
      </if>
      <if test="record.workNum != null" >
        work_num = #{record.workNum,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null" >
        project_id = #{record.projectId,jdbcType=VARCHAR},
      </if>
      <if test="record.applyMoney != null" >
        apply_money = #{record.applyMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.auditStatusId != null" >
        audit_status_id = #{record.auditStatusId,jdbcType=INTEGER},
      </if>
      <if test="record.auditPersonId1 != null" >
        audit_person_id1 = #{record.auditPersonId1,jdbcType=VARCHAR},
      </if>
      <if test="record.auditPoinion1 != null" >
        audit_poinion1 = #{record.auditPoinion1,jdbcType=VARCHAR},
      </if>
      <if test="record.auditPersonId2 != null" >
        audit_person_id2 = #{record.auditPersonId2,jdbcType=VARCHAR},
      </if>
      <if test="record.auditPoinion2 != null" >
        audit_poinion2 = #{record.auditPoinion2,jdbcType=VARCHAR},
      </if>
      <if test="record.auditPersonId3 != null" >
        audit_person_id3 = #{record.auditPersonId3,jdbcType=VARCHAR},
      </if>
      <if test="record.auditPoinion3 != null" >
        audit_poinion3 = #{record.auditPoinion3,jdbcType=VARCHAR},
      </if>
      <if test="record.lastTime != null" >
        last_time = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update budget_post_apply
    set apply_id = #{record.applyId,jdbcType=VARCHAR},
      work_num = #{record.workNum,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=VARCHAR},
      apply_money = #{record.applyMoney,jdbcType=DOUBLE},
      audit_status_id = #{record.auditStatusId,jdbcType=INTEGER},
      audit_person_id1 = #{record.auditPersonId1,jdbcType=VARCHAR},
      audit_poinion1 = #{record.auditPoinion1,jdbcType=VARCHAR},
      audit_person_id2 = #{record.auditPersonId2,jdbcType=VARCHAR},
      audit_poinion2 = #{record.auditPoinion2,jdbcType=VARCHAR},
      audit_person_id3 = #{record.auditPersonId3,jdbcType=VARCHAR},
      audit_poinion3 = #{record.auditPoinion3,jdbcType=VARCHAR},
      last_time = #{record.lastTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hebeu.keyan.po.BudgetPostApply" >
    update budget_post_apply
    <set >
      <if test="workNum != null" >
        work_num = #{workNum,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="applyMoney != null" >
        apply_money = #{applyMoney,jdbcType=DOUBLE},
      </if>
      <if test="auditStatusId != null" >
        audit_status_id = #{auditStatusId,jdbcType=INTEGER},
      </if>
      <if test="auditPersonId1 != null" >
        audit_person_id1 = #{auditPersonId1,jdbcType=VARCHAR},
      </if>
      <if test="auditPoinion1 != null" >
        audit_poinion1 = #{auditPoinion1,jdbcType=VARCHAR},
      </if>
      <if test="auditPersonId2 != null" >
        audit_person_id2 = #{auditPersonId2,jdbcType=VARCHAR},
      </if>
      <if test="auditPoinion2 != null" >
        audit_poinion2 = #{auditPoinion2,jdbcType=VARCHAR},
      </if>
      <if test="auditPersonId3 != null" >
        audit_person_id3 = #{auditPersonId3,jdbcType=VARCHAR},
      </if>
      <if test="auditPoinion3 != null" >
        audit_poinion3 = #{auditPoinion3,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where apply_id = #{applyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hebeu.keyan.po.BudgetPostApply" >
    update budget_post_apply
    set work_num = #{workNum,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      apply_money = #{applyMoney,jdbcType=DOUBLE},
      audit_status_id = #{auditStatusId,jdbcType=INTEGER},
      audit_person_id1 = #{auditPersonId1,jdbcType=VARCHAR},
      audit_poinion1 = #{auditPoinion1,jdbcType=VARCHAR},
      audit_person_id2 = #{auditPersonId2,jdbcType=VARCHAR},
      audit_poinion2 = #{auditPoinion2,jdbcType=VARCHAR},
      audit_person_id3 = #{auditPersonId3,jdbcType=VARCHAR},
      audit_poinion3 = #{auditPoinion3,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP}
    where apply_id = #{applyId,jdbcType=VARCHAR}
  </update>
</mapper>