<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hebeu.keyan.dao.EPlantMapper" >
  <resultMap id="BaseResultMap" type="com.hebeu.keyan.po.EPlant" >
    <id column="plant_id" property="plantId" jdbcType="VARCHAR" />
    <result column="plant_name" property="plantName" jdbcType="VARCHAR" />
    <result column="school_number" property="schoolNumber" jdbcType="VARCHAR" />
    <result column="subject_type_id" property="subjectTypeId" jdbcType="INTEGER" />
    <result column="plant_grade_id" property="plantGradeId" jdbcType="INTEGER" />
    <result column="plant_type_id" property="plantTypeId" jdbcType="INTEGER" />
    <result column="plant_genus_id" property="plantGenusId" jdbcType="INTEGER" />
    <result column="breed_owner" property="breedOwner" jdbcType="VARCHAR" />
    <result column="breed_number" property="breedNumber" jdbcType="VARCHAR" />
    <result column="foster" property="foster" jdbcType="VARCHAR" />
    <result column="certificate_number" property="certificateNumber" jdbcType="VARCHAR" />
    <result column="apply_date" property="applyDate" jdbcType="TIMESTAMP" />
    <result column="empower_date" property="empowerDate" jdbcType="TIMESTAMP" />
    <result column="bonus" property="bonus" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="leader" property="leader" jdbcType="VARCHAR" />
    <result column="registrant" property="registrant" jdbcType="VARCHAR" />
    <result column="person_list" property="personList" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="audit_status_id" property="auditStatusId" jdbcType="INTEGER" />
    <result column="audit_person_id1" property="auditPersonId1" jdbcType="VARCHAR" />
    <result column="audit_poinion1" property="auditPoinion1" jdbcType="VARCHAR" />
    <result column="audit_person_id2" property="auditPersonId2" jdbcType="VARCHAR" />
    <result column="audit_poinion2" property="auditPoinion2" jdbcType="VARCHAR" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
    <result column="score" property="score" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    plant_id, plant_name, school_number, subject_type_id, plant_grade_id, plant_type_id, 
    plant_genus_id, breed_owner, breed_number, foster, certificate_number, apply_date, 
    empower_date, bonus, remark, leader, registrant, person_list, attachment, audit_status_id, 
    audit_person_id1, audit_poinion1, audit_person_id2, audit_poinion2, insert_time, 
    last_time, score
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hebeu.keyan.po.EPlantExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from e_plant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from e_plant
    where plant_id = #{plantId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from e_plant
    where plant_id = #{plantId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hebeu.keyan.po.EPlantExample" >
    delete from e_plant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hebeu.keyan.po.EPlant" >
    insert into e_plant (plant_id, plant_name, school_number, 
      subject_type_id, plant_grade_id, plant_type_id, 
      plant_genus_id, breed_owner, breed_number, 
      foster, certificate_number, apply_date, 
      empower_date, bonus, remark, 
      leader, registrant, person_list, 
      attachment, audit_status_id, audit_person_id1, 
      audit_poinion1, audit_person_id2, audit_poinion2, 
      insert_time, last_time, score
      )
    values (#{plantId,jdbcType=VARCHAR}, #{plantName,jdbcType=VARCHAR}, #{schoolNumber,jdbcType=VARCHAR}, 
      #{subjectTypeId,jdbcType=INTEGER}, #{plantGradeId,jdbcType=INTEGER}, #{plantTypeId,jdbcType=INTEGER}, 
      #{plantGenusId,jdbcType=INTEGER}, #{breedOwner,jdbcType=VARCHAR}, #{breedNumber,jdbcType=VARCHAR}, 
      #{foster,jdbcType=VARCHAR}, #{certificateNumber,jdbcType=VARCHAR}, #{applyDate,jdbcType=TIMESTAMP}, 
      #{empowerDate,jdbcType=TIMESTAMP}, #{bonus,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR}, 
      #{leader,jdbcType=VARCHAR}, #{registrant,jdbcType=VARCHAR}, #{personList,jdbcType=VARCHAR}, 
      #{attachment,jdbcType=VARCHAR}, #{auditStatusId,jdbcType=INTEGER}, #{auditPersonId1,jdbcType=VARCHAR}, 
      #{auditPoinion1,jdbcType=VARCHAR}, #{auditPersonId2,jdbcType=VARCHAR}, #{auditPoinion2,jdbcType=VARCHAR}, 
      #{insertTime,jdbcType=TIMESTAMP}, #{lastTime,jdbcType=TIMESTAMP}, #{score,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hebeu.keyan.po.EPlant" >
    insert into e_plant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="plantId != null" >
        plant_id,
      </if>
      <if test="plantName != null" >
        plant_name,
      </if>
      <if test="schoolNumber != null" >
        school_number,
      </if>
      <if test="subjectTypeId != null" >
        subject_type_id,
      </if>
      <if test="plantGradeId != null" >
        plant_grade_id,
      </if>
      <if test="plantTypeId != null" >
        plant_type_id,
      </if>
      <if test="plantGenusId != null" >
        plant_genus_id,
      </if>
      <if test="breedOwner != null" >
        breed_owner,
      </if>
      <if test="breedNumber != null" >
        breed_number,
      </if>
      <if test="foster != null" >
        foster,
      </if>
      <if test="certificateNumber != null" >
        certificate_number,
      </if>
      <if test="applyDate != null" >
        apply_date,
      </if>
      <if test="empowerDate != null" >
        empower_date,
      </if>
      <if test="bonus != null" >
        bonus,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="leader != null" >
        leader,
      </if>
      <if test="registrant != null" >
        registrant,
      </if>
      <if test="personList != null" >
        person_list,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="auditStatusId != null" >
        audit_status_id,
      </if>
      <if test="auditPersonId1 != null" >
        audit_person_id1,
      </if>
      <if test="auditPoinion1 != null" >
        audit_poinion1,
      </if>
      <if test="auditPersonId2 != null" >
        audit_person_id2,
      </if>
      <if test="auditPoinion2 != null" >
        audit_poinion2,
      </if>
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="lastTime != null" >
        last_time,
      </if>
      <if test="score != null" >
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="plantId != null" >
        #{plantId,jdbcType=VARCHAR},
      </if>
      <if test="plantName != null" >
        #{plantName,jdbcType=VARCHAR},
      </if>
      <if test="schoolNumber != null" >
        #{schoolNumber,jdbcType=VARCHAR},
      </if>
      <if test="subjectTypeId != null" >
        #{subjectTypeId,jdbcType=INTEGER},
      </if>
      <if test="plantGradeId != null" >
        #{plantGradeId,jdbcType=INTEGER},
      </if>
      <if test="plantTypeId != null" >
        #{plantTypeId,jdbcType=INTEGER},
      </if>
      <if test="plantGenusId != null" >
        #{plantGenusId,jdbcType=INTEGER},
      </if>
      <if test="breedOwner != null" >
        #{breedOwner,jdbcType=VARCHAR},
      </if>
      <if test="breedNumber != null" >
        #{breedNumber,jdbcType=VARCHAR},
      </if>
      <if test="foster != null" >
        #{foster,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null" >
        #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="empowerDate != null" >
        #{empowerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bonus != null" >
        #{bonus,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="leader != null" >
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="registrant != null" >
        #{registrant,jdbcType=VARCHAR},
      </if>
      <if test="personList != null" >
        #{personList,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        #{auditStatusId,jdbcType=INTEGER},
      </if>
      <if test="auditPersonId1 != null" >
        #{auditPersonId1,jdbcType=VARCHAR},
      </if>
      <if test="auditPoinion1 != null" >
        #{auditPoinion1,jdbcType=VARCHAR},
      </if>
      <if test="auditPersonId2 != null" >
        #{auditPersonId2,jdbcType=VARCHAR},
      </if>
      <if test="auditPoinion2 != null" >
        #{auditPoinion2,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hebeu.keyan.po.EPlantExample" resultType="java.lang.Integer" >
    select count(*) from e_plant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update e_plant
    <set >
      <if test="record.plantId != null" >
        plant_id = #{record.plantId,jdbcType=VARCHAR},
      </if>
      <if test="record.plantName != null" >
        plant_name = #{record.plantName,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolNumber != null" >
        school_number = #{record.schoolNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.subjectTypeId != null" >
        subject_type_id = #{record.subjectTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.plantGradeId != null" >
        plant_grade_id = #{record.plantGradeId,jdbcType=INTEGER},
      </if>
      <if test="record.plantTypeId != null" >
        plant_type_id = #{record.plantTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.plantGenusId != null" >
        plant_genus_id = #{record.plantGenusId,jdbcType=INTEGER},
      </if>
      <if test="record.breedOwner != null" >
        breed_owner = #{record.breedOwner,jdbcType=VARCHAR},
      </if>
      <if test="record.breedNumber != null" >
        breed_number = #{record.breedNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.foster != null" >
        foster = #{record.foster,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateNumber != null" >
        certificate_number = #{record.certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDate != null" >
        apply_date = #{record.applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.empowerDate != null" >
        empower_date = #{record.empowerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bonus != null" >
        bonus = #{record.bonus,jdbcType=DOUBLE},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.leader != null" >
        leader = #{record.leader,jdbcType=VARCHAR},
      </if>
      <if test="record.registrant != null" >
        registrant = #{record.registrant,jdbcType=VARCHAR},
      </if>
      <if test="record.personList != null" >
        person_list = #{record.personList,jdbcType=VARCHAR},
      </if>
      <if test="record.attachment != null" >
        attachment = #{record.attachment,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusId != null" >
        audit_status_id = #{record.auditStatusId,jdbcType=INTEGER},
      </if>
      <if test="record.auditPersonId1 != null" >
        audit_person_id1 = #{record.auditPersonId1,jdbcType=VARCHAR},
      </if>
      <if test="record.auditPoinion1 != null" >
        audit_poinion1 = #{record.auditPoinion1,jdbcType=VARCHAR},
      </if>
      <if test="record.auditPersonId2 != null" >
        audit_person_id2 = #{record.auditPersonId2,jdbcType=VARCHAR},
      </if>
      <if test="record.auditPoinion2 != null" >
        audit_poinion2 = #{record.auditPoinion2,jdbcType=VARCHAR},
      </if>
      <if test="record.insertTime != null" >
        insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastTime != null" >
        last_time = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update e_plant
    set plant_id = #{record.plantId,jdbcType=VARCHAR},
      plant_name = #{record.plantName,jdbcType=VARCHAR},
      school_number = #{record.schoolNumber,jdbcType=VARCHAR},
      subject_type_id = #{record.subjectTypeId,jdbcType=INTEGER},
      plant_grade_id = #{record.plantGradeId,jdbcType=INTEGER},
      plant_type_id = #{record.plantTypeId,jdbcType=INTEGER},
      plant_genus_id = #{record.plantGenusId,jdbcType=INTEGER},
      breed_owner = #{record.breedOwner,jdbcType=VARCHAR},
      breed_number = #{record.breedNumber,jdbcType=VARCHAR},
      foster = #{record.foster,jdbcType=VARCHAR},
      certificate_number = #{record.certificateNumber,jdbcType=VARCHAR},
      apply_date = #{record.applyDate,jdbcType=TIMESTAMP},
      empower_date = #{record.empowerDate,jdbcType=TIMESTAMP},
      bonus = #{record.bonus,jdbcType=DOUBLE},
      remark = #{record.remark,jdbcType=VARCHAR},
      leader = #{record.leader,jdbcType=VARCHAR},
      registrant = #{record.registrant,jdbcType=VARCHAR},
      person_list = #{record.personList,jdbcType=VARCHAR},
      attachment = #{record.attachment,jdbcType=VARCHAR},
      audit_status_id = #{record.auditStatusId,jdbcType=INTEGER},
      audit_person_id1 = #{record.auditPersonId1,jdbcType=VARCHAR},
      audit_poinion1 = #{record.auditPoinion1,jdbcType=VARCHAR},
      audit_person_id2 = #{record.auditPersonId2,jdbcType=VARCHAR},
      audit_poinion2 = #{record.auditPoinion2,jdbcType=VARCHAR},
      insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      last_time = #{record.lastTime,jdbcType=TIMESTAMP},
      score = #{record.score,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hebeu.keyan.po.EPlant" >
    update e_plant
    <set >
      <if test="plantName != null" >
        plant_name = #{plantName,jdbcType=VARCHAR},
      </if>
      <if test="schoolNumber != null" >
        school_number = #{schoolNumber,jdbcType=VARCHAR},
      </if>
      <if test="subjectTypeId != null" >
        subject_type_id = #{subjectTypeId,jdbcType=INTEGER},
      </if>
      <if test="plantGradeId != null" >
        plant_grade_id = #{plantGradeId,jdbcType=INTEGER},
      </if>
      <if test="plantTypeId != null" >
        plant_type_id = #{plantTypeId,jdbcType=INTEGER},
      </if>
      <if test="plantGenusId != null" >
        plant_genus_id = #{plantGenusId,jdbcType=INTEGER},
      </if>
      <if test="breedOwner != null" >
        breed_owner = #{breedOwner,jdbcType=VARCHAR},
      </if>
      <if test="breedNumber != null" >
        breed_number = #{breedNumber,jdbcType=VARCHAR},
      </if>
      <if test="foster != null" >
        foster = #{foster,jdbcType=VARCHAR},
      </if>
      <if test="certificateNumber != null" >
        certificate_number = #{certificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null" >
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="empowerDate != null" >
        empower_date = #{empowerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bonus != null" >
        bonus = #{bonus,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="leader != null" >
        leader = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="registrant != null" >
        registrant = #{registrant,jdbcType=VARCHAR},
      </if>
      <if test="personList != null" >
        person_list = #{personList,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        audit_status_id = #{auditStatusId,jdbcType=INTEGER},
      </if>
      <if test="auditPersonId1 != null" >
        audit_person_id1 = #{auditPersonId1,jdbcType=VARCHAR},
      </if>
      <if test="auditPoinion1 != null" >
        audit_poinion1 = #{auditPoinion1,jdbcType=VARCHAR},
      </if>
      <if test="auditPersonId2 != null" >
        audit_person_id2 = #{auditPersonId2,jdbcType=VARCHAR},
      </if>
      <if test="auditPoinion2 != null" >
        audit_poinion2 = #{auditPoinion2,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTime != null" >
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DOUBLE},
      </if>
    </set>
    where plant_id = #{plantId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hebeu.keyan.po.EPlant" >
    update e_plant
    set plant_name = #{plantName,jdbcType=VARCHAR},
      school_number = #{schoolNumber,jdbcType=VARCHAR},
      subject_type_id = #{subjectTypeId,jdbcType=INTEGER},
      plant_grade_id = #{plantGradeId,jdbcType=INTEGER},
      plant_type_id = #{plantTypeId,jdbcType=INTEGER},
      plant_genus_id = #{plantGenusId,jdbcType=INTEGER},
      breed_owner = #{breedOwner,jdbcType=VARCHAR},
      breed_number = #{breedNumber,jdbcType=VARCHAR},
      foster = #{foster,jdbcType=VARCHAR},
      certificate_number = #{certificateNumber,jdbcType=VARCHAR},
      apply_date = #{applyDate,jdbcType=TIMESTAMP},
      empower_date = #{empowerDate,jdbcType=TIMESTAMP},
      bonus = #{bonus,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      leader = #{leader,jdbcType=VARCHAR},
      registrant = #{registrant,jdbcType=VARCHAR},
      person_list = #{personList,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      audit_status_id = #{auditStatusId,jdbcType=INTEGER},
      audit_person_id1 = #{auditPersonId1,jdbcType=VARCHAR},
      audit_poinion1 = #{auditPoinion1,jdbcType=VARCHAR},
      audit_person_id2 = #{auditPersonId2,jdbcType=VARCHAR},
      audit_poinion2 = #{auditPoinion2,jdbcType=VARCHAR},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      score = #{score,jdbcType=DOUBLE}
    where plant_id = #{plantId,jdbcType=VARCHAR}
  </update>
</mapper>