<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hebeu.keyan.dao.PerPostTypeMapper" >
  <resultMap id="BaseResultMap" type="com.hebeu.keyan.po.PerPostType" >
    <id column="post_type_id" property="postTypeId" jdbcType="INTEGER" />
    <result column="post_type_name" property="postTypeName" jdbcType="VARCHAR" />
    <result column="is_effective" property="isEffective" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    post_type_id, post_type_name, is_effective
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hebeu.keyan.po.PerPostTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from per_post_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from per_post_type
    where post_type_id = #{postTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from per_post_type
    where post_type_id = #{postTypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hebeu.keyan.po.PerPostTypeExample" >
    delete from per_post_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hebeu.keyan.po.PerPostType" >
    insert into per_post_type (post_type_id, post_type_name, is_effective
      )
    values (#{postTypeId,jdbcType=INTEGER}, #{postTypeName,jdbcType=VARCHAR}, #{isEffective,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hebeu.keyan.po.PerPostType" >
    insert into per_post_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postTypeId != null" >
        post_type_id,
      </if>
      <if test="postTypeName != null" >
        post_type_name,
      </if>
      <if test="isEffective != null" >
        is_effective,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postTypeId != null" >
        #{postTypeId,jdbcType=INTEGER},
      </if>
      <if test="postTypeName != null" >
        #{postTypeName,jdbcType=VARCHAR},
      </if>
      <if test="isEffective != null" >
        #{isEffective,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hebeu.keyan.po.PerPostTypeExample" resultType="java.lang.Integer" >
    select count(*) from per_post_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update per_post_type
    <set >
      <if test="record.postTypeId != null" >
        post_type_id = #{record.postTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.postTypeName != null" >
        post_type_name = #{record.postTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.isEffective != null" >
        is_effective = #{record.isEffective,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update per_post_type
    set post_type_id = #{record.postTypeId,jdbcType=INTEGER},
      post_type_name = #{record.postTypeName,jdbcType=VARCHAR},
      is_effective = #{record.isEffective,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hebeu.keyan.po.PerPostType" >
    update per_post_type
    <set >
      <if test="postTypeName != null" >
        post_type_name = #{postTypeName,jdbcType=VARCHAR},
      </if>
      <if test="isEffective != null" >
        is_effective = #{isEffective,jdbcType=INTEGER},
      </if>
    </set>
    where post_type_id = #{postTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hebeu.keyan.po.PerPostType" >
    update per_post_type
    set post_type_name = #{postTypeName,jdbcType=VARCHAR},
      is_effective = #{isEffective,jdbcType=INTEGER}
    where post_type_id = #{postTypeId,jdbcType=INTEGER}
  </update>
</mapper>